/* Responsive Styles */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .categoryArea {
    display: flex;
    overflow-x: auto; /* X ekseninde kaydırılabilir */
    background-color: #ffd700;
    padding: 0.5rem 0;
    white-space: nowrap; /* Butonların aynı satırda kalmasını sağlar */
  }

  .categoryButton {
    flex: 0 0 auto; /* Butonların sabit boyutta kalmasını sağlar */
    text-transform: capitalize;
    background-color: #ffd700;
    color: #11191f;
    padding: 0.8rem;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    margin: 0 0.5rem; /* Butonlar arasında boşluk */
    transition: background-color 0.3s, color 0.3s;
  }

  .categoryButton:hover,
  .categoryButton.selected {
    background-color: #11191f;
    color: #ffd700;
  }
}
